/* General Blueprint Style */

@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}


/* Made with http://icomoon.io/ */


/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */
body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, "FOT-UD角ゴ_スモール Pr6 DB", sans-serif !important;
	margin: 0;
	color: #555;
	background: #edeef1;
	/* background: #1d1e21; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #5c5edc;
	outline: none;
}

a:hover {
	color: #fff;
}


/* Blueprint header */

.bp-header {
  background-color: #ffffff;
	padding: 6em 10vw 2em;
}

.bp-header__title {
  font-size: 2.125em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* color: #fff; */
  z-index: 100;
  color: #1b1b1b;
  position: relative;
}

.bp-header__desc {
	font-weight: bold;
	font-size: 0.85em;
	margin: 0.5em 0 1em;
  padding: 0;
  z-index: 100;
  position: relative;
}

.bp-header__present {
	font-size: 0.85em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 0.6em 0.1em;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #5c5edc;
}

.bp-tooltip:after {
	font-size: 50%;
	font-size: 75%;
	position: relative;
	top: -8px;
	left: -12px;
	width: 30px;
	height: 30px;
}

.bp-tooltip:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	left: auto;
	margin-left: 4px;
	padding: 0.8em 1em;
	text-align: left;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;
	background: #5c5edc;
}

.bp-nav {
	margin: 0 0 0 -0.75em;
}

.bp-nav__item {
	position: relative;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: 0 0.1em;
	text-align: left;
	border-radius: 50%;
}

.bp-nav__item > span {
	display: none;
}

.bp-nav__item:hover:before {
	content: attr(data-info);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	top: 120%;
	left: 0;
	width: 600%;
	text-align: left;
	pointer-events: none;
	color: #595a5f;
}

.bp-nav__item:hover {
	background: #5c5edc;
}

.bp-icon:after {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #5c5edc;
	-webkit-font-smoothing: antialiased;

	speak: none;
}

.bp-nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.bp-nav a:hover:after {
	color: #fff;
}

.bp-icon--next:after {
	content: '\e000';
}

.bp-icon--drop:after {
	content: '\e001';
}

.bp-icon--archive:after {
	content: '\e002';
}

.bp-icon--about:after {
	content: '\e003';
}

.bp-icon--prev:after {
	content: '\e004';
}

.page > section {
	padding: 0em 10vw 2em;
}

.page > section svg {
	max-width: 100%;
}

.svg-header {
	position: absolute;
	z-index: 0;
	right: 0;
	top: 0;
}

@@media (max-width: 1100px) {
	.svg-header {
		display: none;
	}
}

@media screen and (max-width: 40em) {
	.bp-header {
		padding: 50px 20px 1em;
	}
	.bp-header__title {
		font-size: 1.8em;
	}
}

.hero-image {
	max-width: 100%;
}

.people-image {
	margin-top: -60px;
	max-width: 100%;
}


.blobs .blob .content {
	position: relative;
	z-index: 1;
}
.blobs .blob .content:after {
	display: block;
	content: "";
}
.blobs .blob .content h2 {
	font-family: "TazuganeGothicStdN-Medium";
    font-size: 33px;
    font-weight: bold;
    color: #000;
    line-height: 40px;
}
.blobs .blob .content p {
	font-size: 18px;
    line-height: 32px;
    color: #444;
    font-weight: bold;
}

.blobs .blob svg {
	position: absolute;
    left: 10%;
    right: 10%;
	width: 80%;
	top: 0;
	height: auto;
	z-index: 0;
}

@media (max-width: 991px) {
  .blobs .blob {  
    text-align: center;
  }
  .blobs .blob svg {
    width: 50%;
    left: 25%;
  }
}
#description {
	padding-bottom: 40px;
}
#where {
  padding-bottom: 20px;
}
#description h1, #where h1 {
	color: black;
	font-size: 48px;
}

#description, #where p {
	font-weight: bold;
}
@media (max-width: 991px) {
  #description {
    /* padding: 0; */
  }
  #description .hero-image {
    height: 320px;
  }
}
.text-effect {
	display: inline-block;
	cursor: pointer;
}
.text-effect:hover {
	-webkit-animation: zoom .6s;
	animation: zoom .6s;
}
@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.05);
  }
}

/* --------------- */
#family ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#family ul li img{
  height: 200px;
  width: 200px;
}
#family h1 {
  color: black;
  font-size: 48px;
}
/* --------------- */
@import url("https://use.typekit.net/std3xut.css");

#about article, #about aside, #about details, #about figcaption, #about figure, #about footer, #about header, #about hgroup, #about main, #about nav, #about section, #about summary {
  display: block;
}
#about audio, #about canvas, #about video {
  display: inline-block;
}
#about audio:not([controls]) {
  display: none;
  height: 0;
}
#about [hidden] {
  display: none;
}
#about html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
#about body {
  margin: 0;
}
#about a:focus {
  outline: thin dotted;
}
#about a:active, #about a:hover {
  outline: 0;
}
#about h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#about abbr[title] {
  border-bottom: 1px dotted;
}
#about b, #about strong {
  font-weight: bold;
}
#about dfn {
  font-style: italic;
}
#about hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#about mark {
  background: #ff0;
  color: #000;
}
#about code, #about kbd, #about pre, #about samp {
  font-family: monospace, serif;
  font-size: 1em;
}
#about pre {
  white-space: pre-wrap;
}
#about q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
#about small {
  font-size: 80%;
}
#about sub, #about sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#about sup {
  top: -0.5em;
}
#about sub {
  bottom: -0.25em;
}
#about img {
  border: 0;
}
#about svg:not(:root) {
  overflow: hidden;
}
#about figure {
  margin: 0;
}
#about fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#about legend {
  border: 0;
  padding: 0;
}
#about button, #about input, #about select, #about textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
#about button, #about input {
  line-height: normal;
}
#about button, #about select {
  text-transform: none;
}
#about button, #about html input[type="button"], #about input[type="reset"], #about input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#about button[disabled], #about html input[disabled] {
  cursor: default;
}
#about input[type="checkbox"], #about input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
#about input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#about input[type="search"]::-webkit-search-cancel-button, #about input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#about button::-moz-focus-inner, #about input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#about textarea {
  overflow: auto;
  vertical-align: top;
}
#about table {
  border-collapse: collapse;
  border-spacing: 0;
}
#about *, #about *::after, #about *::before {
  box-sizing: border-box;
}
#about html {
  background: #fff;
}
#about body {
  --color-text: #000;
  --color-bg: #fff;
  --color-link: #000;
  --color-link-hover: #000;
  --color-info: #000;
  font-family: "brother-1816", sans-serif;
  min-height: 100vh;
  color: #57585c;
  color: var(--color-text);
  background-color: #fff;
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#about .js .loading::before {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}
#about .js .loading::after {
  content: '';
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}
@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
#about {
  padding: 0em 0 0em;
}
#about .divider svg path, #news .divider svg path {
  fill: #f2f6fc;
}
#about .about-background {
  background: #f2f6fc;
	padding-bottom: 46px;
}
#about .about-background .grid {
	box-shadow: 0px 2px 10px rgba(0,0,0,0.7);
	border-radius: 64px;
}
#about a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}
#about a:hover, #about a:focus {
  color: var(--color-link-hover);
  outline: none;
}
#about .hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}
#about .message {
  position: relative;
  z-index: 100;
  display: none;
  padding: 1em;
  text-align: center;
  color: var(--color-bg);
  background: var(--color-text);
}
#about .icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}
#about main {
  position: relative;
  margin: 0 auto;
}
#about .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}
#about .codrops-header {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 0 2rem 0;
}
#about .codrops-header__title {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#about .info {
  margin: 0 0 0 1.25em;
  color: var(--color-info);
}
#about .github {
  display: block;
  margin: 0 0 0 auto;
}
#about .codrops-links {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 1em 0 0;
  text-align: center;
  white-space: nowrap;
}
#about .codrops-icon {
  display: inline-block;
  margin: 0.15em;
  padding: 0.25em;
}

#about .container {
  text-align: center;
}

#about .grid {
  display: inline-block;
  margin-top: -240px;
}

#about .grid__item {
	border-radius: 64px;
	overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100vw;
}
#about .grid__item--bg {
  background-color: var(--item-bg);
  height: 100vw;
}
#about .grid__item-content {
  width: 100%;
  padding: 8vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  pointer-events: none;
  background: var(--item-bg);
  border-radius: 48px;
}
#about .grid__item--bg .grid__item-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#about .grid__item-img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 48px;
}
#about .grid__item-img canvas {
	height: 100%;
	position: absolute;
  top: 0;
  left: 0;
  border-radius: 48px;
}
#about .grid__item-img img {
  height: 100%;
  display: block;
  border-radius: 48px;
}
#about .grid__item-img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
#about .grid__item:hover .grid__item-img img:nth-child(2) {
  opacity: 1;
}
#about .js .grid__item-img img {
  display: none;
}
#about .grid__item-title {
	font-size: 5.1vw;
	line-height: 1.2;
  font-weight: 700;
  margin: 2rem 0 0 0;
  color: var(--item-title);
}
#about .grid__item-title--small {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}
#about .grid__item-meta {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.25rem;
  font-size: 0.95rem;
  color: var(--item-meta);
}
#about .grid__item-subtitle {
  display: block;
  margin: auto 0 0 0;
  font-weight: 400;
  font-size: 1.5em;
  color: var(--item-subtitle);
}
#about .grid__item-subtitle span {
  display: block;
}
#about .grid__item-text {
  font-size: 1rem;
  line-height: 1.75;
  margin: 2rem 0 0 0;
  color: var(--item-text);
}
#about .grid__item-link {
  display: inline-block;
  color: currentColor;
  font-weight: 700;
  font-size: 0.95rem;
  position: relative;
  padding: 0 0 0.2rem;
  pointer-events: auto;
  color: var(--item-link);
  cursor: pointer;
}
#about .grid__item-link:focus, #about .grid__item-link:hover {
  color: var(--item-link-hover);
}
#about .grid__item-link::before {
  content: '';
  position: absolute;
  background: currentColor;
  width: 100%;
  height: 1px;
  bottom: 0;
  transform-origin: 0% 50%;
  transform: scale3d(0, 1, 1);
  opacity: 0;
  transition: all 0.3s;
  transition-property: opacity, transform;
}
#about .grid__item-link:hover::before {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
#about .grid__item-link + .grid__item-link {
  margin: 0 0 0 3rem;
}
#about .grid__item-text + .grid__item-link {
  white-space: nowrap;
  margin-top: 1rem;
  align-self: flex-start;
  margin-top: auto;
}
#about .grid__item-nav {
  display: flex;
}
#about .theme-1 {
  --item-bg: #4bb4e7;
  --item-link: #fff;
  --item-link-hover: #0d2936;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
#about .theme-2 {
  --item-bg: rgba(0, 0, 0, 0.2);
  --item-link: #fff;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
  border-radius: 48px;
}
#about .theme-3 {
  --item-bg: rgba(0, 0, 0, 0.2);
  --item-link: #fff;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
#about .theme-4 {
  --item-bg: #12161e;
  --item-link: #fff;
  --item-link-hover: #9e6817;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
#about .theme-5 {
  --item-bg: #efe9dd;
  --item-link: #12161e;
  --item-link-hover: #0d13c1;
  --item-meta: #fff;
  --item-title: #12161e;
  --item-subtitle: #12161e;
  --item-text: #12161e;
}
#about .theme-6 {
  --item-bg: rgba(0, 0, 0, 0);
  --item-link: #12161e;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #12161e;
  --item-text: #fff;
}
#about .theme-7 {
  --item-bg: rgba(0, 0, 0, 0);
  --item-link: #fff;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
#about .theme-8 {
  --item-bg: #0c13c1;
  --item-link: #dd8ca5;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
#about .theme-9 {
  --item-bg: #c9efee;
  --item-link: #000;
  --item-link-hover: #e80c40;
  --item-meta: #fff;
  --item-title: #000;
  --item-subtitle: #000;
  --item-text: #000;
}
#about .theme-10 {
  --item-bg: rgba(0, 0, 0, 0);
  --item-link: #000;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #000;
  --item-text: #fff;
}
#about .theme-11 {
  --item-bg: rgba(0, 0, 0, 0);
  --item-link: #000;
  --item-link-hover: #fff;
  --item-meta: #000;
  --item-title: #000;
  --item-subtitle: #000;
  --item-text: #000;
}
#about .theme-12 {
  --item-bg: #4d565b;
  --item-link: #f6fbfe;
  --item-link-hover: #000;
  --item-meta: #f6fbfe;
  --item-title: #f6fbfe;
  --item-subtitle: #f6fbfe;
  --item-text: #f6fbfe;
}
#about .theme-13 {
  --item-bg: #d22851;
  --item-link: #712a3b;
  --item-link-hover: #f6fbfe;
  --item-meta: #f6fbfe;
  --item-title: #f6fbfe;
  --item-subtitle: #f6fbfe;
  --item-text: #f6fbfe;
}
#about .theme-14 {
  --item-bg: rgba(0, 0, 0, 0.2);
  --item-link: #fff;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
#about .theme-15 {
  --item-bg: rgba(0, 0, 0, 0.3);
  --item-link: #fff;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
#about .theme-16 {
  --item-bg: #010101;
  --item-link: #63676b;
  --item-link-hover: #f6fbfe;
  --item-meta: #f6fbfe;
  --item-title: #f6fbfe;
  --item-subtitle: #f6fbfe;
  --item-text: #f6fbfe;
}
#about .theme-17 {
  --item-bg: #ece7e5;
  --item-link: #d68d13;
  --item-link-hover: #2d2c2c;
  --item-meta: #2d2c2c;
  --item-title: #2d2c2c;
  --item-subtitle: #2d2c2c;
  --item-text: #2d2c2c;
}
#about .theme-18 {
  --item-bg: rgba(0, 0, 0, 0.2);
  --item-link: #fff;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
#about .theme-19 {
  --item-bg: rgba(0, 0, 0, 0.1);
  --item-link: #6317f5;
  --item-link-hover: #fff;
  --item-meta: #6317f5;
  --item-title: #fff;
  --item-subtitle: #6317f5;
  --item-text: #fff;
}
#about .theme-20 {
  --item-bg: #6317f5;
  --item-link: #b29d85;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
#about .theme-21 {
  --item-bg: #f7ac03;
  --item-link: #fff;
  --item-link-hover: #2d2c2c;
  --item-meta: #2d2c2c;
  --item-title: #fff;
  --item-subtitle: #2d2c2c;
  --item-text: #2d2c2c;
}
#about .theme-22 {
  --item-bg: rgba(0, 0, 0, 0.2);
  --item-link: #fff;
  --item-link-hover: #fff;
  --item-meta: #fff;
  --item-title: #fff;
  --item-subtitle: #fff;
  --item-text: #fff;
}
@media screen and (min-width: 85em) {
  #about .grid__item-text {
    width: 80%;
  }
}
@media screen and (min-width: 50em) {
  #about .grid {
    /* display: grid; */
    display: inline-block;
    /* grid-template-columns: repeat(2, 50vmax); */
  }
  #about .grid__item {
    height: 50vmax;
    width: 100%;
  }
  #about .grid__item-subtitle * {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
    transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
    transition-property: transform, opacity;
  }
  #about .grid__item:hover .grid__item-subtitle * {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  #about .grid__item:hover .grid__item-subtitle span {
    transition-delay: 0.1s;
  }
  #about .grid__item:hover .grid__item-subtitle .grid__item-link {
    transition-delay: 0s;
  }
  #about .grid__item-title {
    font-size: 5.1vw;
    display: block;
  }
  #about .grid__item-title--small {
    font-size: 3vw;
  }
  #about .grid__item-text {
    margin-top: 2.5rem;
  }
}

#news {
  padding: 0;
  padding-top: 84px;
  position: relative;
  overflow-x: hidden;
}
#news > .divider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#news > svg {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
}

#news .slick-list {
  overflow: visible !important;
}
#news #news-items {
  margin-top: -87px;
  padding-bottom: 40px;
  margin-bottom: 120px;
}
#news .news-item {
  display: inline-block;
  height: auto;
  background-color: white;
  width: 400px !important;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 1rem 2.4rem;
  transition: transform 0.1s linear;
  padding: 0px 20px;
  border-radius: 6px;
}
#news .news-item p {
  font-size: 10px;
  letter-spacing: 1px;
}
#news .slick-slide {
  transition: transform 0.1s linear;
}
#news .slick-current {
  transform: scale(1.16);
}
#news .news-item h2 {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  line-height: 1.4rem;
  margin-top: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.24rem;
}

#news .news-item .date {
  font-size: 0.6rem;
  font-weight: bold;
  margin-top: 0 !important;
}

#news .news-item .date.info {
  color: #dc3568;
}

#news .news-item .date.award {
  color: #7377dc;
}

#news .news-item .date.event {
  color: #33af48;
}
/* ----------------------------------- */
.effect-wrap {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-top: 20px;
}
.pinkBg {
  background-color: #dc3568!important;
  background-image: linear-gradient(90deg, #fd5581, #fd8b55);
}
.blueBg {
  background-color: #181fed!important;
  background-image: linear-gradient(90deg, #5571fd, #55b7fd);
}
.greenBg {
  background-color: #33af48!important;
  background-image: linear-gradient(90deg, #33af48, #78de6c);
}
.intro-banner-vdo-play-btn{
  height: 16px;
  width: 16px;
  text-align: center;
  border-radius: 100px;
  position: relative;
  z-index: 1;
  left: calc(50% - 8px);
  top: 10px;
  display: inline-block;
}
.intro-banner-vdo-play-btn i{
  line-height:56px;
  font-size:30px
}
.intro-banner-vdo-play-btn .ripple{
  position:absolute;
  opacity: 1;
  width:40px;
  height:40px;
  z-index:-1;
  left: 50%;
  top: 50%;
  opacity:0;
  margin:-20px 0 0 -20px;
  border-radius:100px;
}
.slick-current .intro-banner-vdo-play-btn .ripple { 
  -webkit-animation:ripple 1.8s infinite;
  animation:ripple 1.8s infinite
}
@-webkit-keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0);
      transform:scale(0)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(1);
      transform:scale(1)
  }
}
@keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0);
      transform:scale(0)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(1);
      transform:scale(1)
  }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
  animation-delay:.3s;
  -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
  animation-delay:.6s;
  -webkit-animation-delay:.6s
}
/* ----------------------------------- */

#member {
  padding: 40px 0;
  padding-bottom: 120px;
}
#member .bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #000;
  position: relative;
  top: calc(50% - 5px);
}
#member h2 {
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  color: #000;
}
#member h2 #next-number {
  color: #e82863;
}

#member .card {
  display: inline-block;
  height: auto;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  background-color: #ffffff;
  border: solid 1px #eae4e4;
}

#member .card:hover {
  transform: scale(1.1);
}

#member .card > * {
  padding-left: 34%;
  padding-right: 0;
  color: #3d4250;
  text-decoration: none;
}

#member .card .content {
  text-align: left;
}

#member .card .info {
  font-size: 0.7rem;
  letter-spacing: 0.04rem;
  margin-bottom: 0.4rem;
  max-width: 100%;
}

#member .card h4 {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  line-height: 1.4rem;
  margin-top: 1.1rem;
  font-weight: bold;
}

#member .card .content p {
  font-size: 0.6rem;
  letter-spacing: 0.08rem;
  color: #2d2d2d;
  font-weight: 800;
  font-family: sans-serif;
}

#member .card .info .name {
  color: #29537E;
  font-weight: bold;
}

#member .card .info .date {
  color: #b4b4b4;
  font-weight: bold;
  font-size: 0.6rem;
}

#member .card .thumbnail {
  width: 30%;
  height: 120%;
  background-size: cover;
  border-radius: 0% 50% 50% 0%;
  position: absolute;
  left: 0;
  top: -10%;
  background-position: center;
}


#memberDetail .modal-content {
  border: none;
}

#memberDetail .modal-body button {
  position: absolute;
  right: 12px;
  top: 8px;
  text-shadow: none;
}

#memberDetail .image {
  border-radius: 4px 4px 0 0;
}

#memberDetail h2.title {
  padding: 16px 0px;
  color: #333;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 4px solid #333;
  margin: 0 19px;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

#memberDetail .description {
  padding: 12px 18px;
  padding-top: 0px;
  padding-bottom: 32px;
  font-size: 13px;
  letter-spacing: 1px;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

footer.footer {
  background-color: #51424d;
  background-image: linear-gradient(0deg, #655060 0%, #4f434c 80%);
  position: relative;
  margin-top: 20px;
  margin-top: 120px;
}

footer.footer:before {
  background-image: url(../img/footer.svg);
  content: "";
  display: block;
  position: absolute;
  top: -140px;
  height: 140px;
  background-size: 110%;
  left: 0;
  right: 0;
  background-position: top;
  background-repeat: no-repeat;
}
footer.footer .pages-nav {
  color: #ffffffb8;
  position: relative;
  height: 450px;
}

footer.footer .pages-nav a {
  cursor: pointer;
}

@media (max-width: 991px){
  footer.footer:before {
    top: -110px;
  }
  #family, #description, #where {
    padding-right: 0;
    padding-left: 0;    
    text-align: center;
  }
  #about .container {
    margin: 0;
    padding: 0;
  }
  #about .grid__item-title {
    font-size: 42px;
  }
  #where .people-image {
    height: 720px;
    margin-top: 40px;
  }
 
  #description h1, #where h1, #family h1 {
    font-size: 32px;
    position: relative;
    padding-bottom: 12px;
    display: inline-block;
  }
  #description h1:after, #where h1:after, #family h1:after {
    display: block;
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: -4px;
    height: 4px;
    background-color: #333;
    border-radius: 4px;
  }
  #member h2 {
    background-color: #f1f6fc;
    padding: 18px;
    border-radius: 4px;
    width: 100%;
  }
}

@media (max-width: 560px) {
  #about .container {
    margin: 0;
    padding: 0;
  }
  #about .grid__item-img {
    border-radius: 0;
  }
  #about .container img, #about .container canvas, #about .grid__item-content, #about .theme-2, #about .about-background .grid {
    border-radius: 0;
  }
  #about .grid__item-title {
    font-size: 40px;
  }

  #member .card:hover {
    transform: scale(1);
  }
  #where .people-image {
    height: 390px;
    margin-top: 40px;
  }
  #news .news-item {
    box-sizing: border-box;
    width: 320px !important;
  }
  #news .divider.divider--curve {
    top: -6px;
  }
  #news .slick-dots {
    bottom: -52px;
  }
  footer.footer:before {
    top: -90px;
  }
}